---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hold my beer">
	<main>
        <!-- <h1>404</h1>
        <p>What are you even looking for my guy?</p> -->
        <h1 class="branded-title">404: The Abyss of the Internet</h1>
        <p>In this boundless void we call the internet, there lies a dark and empty chasm where the elusive essence of what you sought has vanished into the relentless entropy of the digital cosmos. Here, in this desolate wasteland of broken links and vanished content, we confront the stark reality that meaning, much like the digital specters we chase, is often elusive and transient.</p>
        <p>As you stand before this page, bereft of purpose and direction, reflect upon the cold indifference of the universe. Your search, once filled with hope, has led to this grim, digital purgatory. In this silent, unresponsive expanse, we are left to ponder the futility of our pursuits and the inexorable passage of time that devours all things.</p>
        <p>Perhaps it is in this moment of existential solitude that you may find a fleeting glimpse of truth: the awareness of our own insignificance amidst the vast, indifferent machinery of existence. The 404 page, much like life itself, is a reminder that even in our most earnest searches, we are often left with nothing but the void and the echoes of our own searching.</p>
        <p>Continue to navigate this bleak landscape with the understanding that meaning is not always found in the destinations we seek but in the journey through the abyss.</p>
	</main>
</Layout>