---
import Layout from '../layouts/Layout.astro';
import CustomerList from '../components/CustomerList';
---

<Layout title="Customers | HMB">
	<main>
        <h1 class="branded-title">Customers</h1>
		<CustomerList  client:load/>
	</main>
</Layout>