---
import Layout from '../layouts/Layout.astro';
import EditAttribute from '../components/EditAttribute.tsx';
---

<Layout title="Edit Attribute | HMB">
	<main>
		<EditAttribute client:only/>
	</main>
</Layout>