---
import Layout from '../layouts/Layout.astro';
import EditCustomer from '../components/EditCustomer';
---

<Layout title="Edit Customer | HMB">
	<main>
		<EditCustomer client:only/>
	</main>
</Layout>