---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Print-A-Majig">
	<main>
		<section>
            <a href="./new-order.html">Create New Order +</a>
        </section>
	</main>
</Layout>
