---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | HMB">
	<main>
		<section>
			<h1 class="branded-title">Hold My Beer</h1>
			<h3 class="branded-title">Print Order Manager</h3>
            <a href="./new-order.html">Create New Order +</a>
        </section>
	</main>
</Layout>
