---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
---

<Layout title="Home | HMB">
	<main>
		<section>
			<h1 class="branded-title">HMB</h1>
			<h3 class="branded-title">Print Order Manager</h3>
            <!-- <a href="./new-order">Create New Order +</a> -->
			<LinkButton title="New Order + " link="new-order" kind="big"/>
			<br>
			<img src="https://c.tenor.com/rdkHWmsaP5sAAAAC/tenor.gif" alt="wacky wavy inflatable tube man">
        </section>
	</main>
</Layout>
