---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
---

<Layout title="Home | HMB">
	<main>
		<section>
			<h1 class="branded-title">Hold My Beer</h1>
			<h3 class="branded-title">Print Order Manager</h3>
			<p>This tool's name is subject to change. (As in, Hold My Beer, might not be the best long term name, but it's fun at the beginning.)</p>
            <!-- <a href="./new-order">Create New Order +</a> -->
			<LinkButton title="Create" link="new-order" kind="big"/>
			<br>
			<img src="https://c.tenor.com/rdkHWmsaP5sAAAAC/tenor.gif" alt="wacky wavy inflatable tube man">
        </section>
	</main>
</Layout>
