---
import Layout from '../layouts/Layout.astro';
import ExportOrder from '../components/ExportOrder.tsx'
---

<Layout title="Create New Order | HMB">
	<main>
        <h1 class="branded-title">New Order</h1>
        <ExportOrder client:load/>
	</main>
</Layout>