---
import Layout from '../layouts/Layout.astro';
import ItemizedOrderList from '../components/ItemizedOrderList'
---

<Layout title="Reports | HMB">
	<main class="reports-page">
        <h1 class="branded-title">Reports</h1>
		<ItemizedOrderList client:only/>
	</main>
</Layout>