---
import Layout from '../layouts/Layout.astro';
import UpdatePdfReactPdf from '../components/UpdatePdfReactPdf'
---

<Layout title="Settings | HMB">
	<main>
        <h1 class="branded-title">Settings</h1>
		<UpdatePdfReactPdf client:only/>
	</main>
</Layout>