---
import Layout from '../layouts/Layout.astro';
// import UploadPdf from '../components/UploadPdf';
---

<Layout title="Settings | HMB">
	<main>
        <h1 class="branded-title">Settings</h1>
		<!-- <UploadPdf client:only/> -->
	</main>
</Layout>