---
import MaterialCost from '../components/MaterialCost'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Substrates | HMB">
	<main>
        <h1 class="branded-title">Substrates, Presses and Inks oh my...</h1>
                <MaterialCost materialType="substrates" client:load/>
                <MaterialCost materialType="presses" client:load/>
                <MaterialCost materialType="laminates" client:load/>
	</main>
</Layout>
<!-- <style>
        summary {
                font-size: 18pt;
                font-weight: 700;
                color: white;
                background-color: darkslategray;
                padding: 12pt;
        }
        table {
                margin-top: 0 !important;
        }
</style> -->