---
import PrintLayout from '../layouts/PrintLayout.astro';
import ViewInvoice from '../components/ViewInvoice'
---
<PrintLayout>
	<div class="packing-slip-container">
		<div class="packing-slip-header">
			<h1>Pangaea Print LLC</h1>
		</div>
        <ViewInvoice client:only/>
	</div>
</PrintLayout>
