---
const { link, title, kind } = Astro.props;
---
<style>
    button {
        border: none;
        background-color: darkslategray;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        padding: .5rem;
    }
    button:hover {
        color: lightblue;
        box-shadow: 2px 2px 5px #ccc;
    }
    button.big {
        font-size: 1.5rem;
        padding: 1rem;
    }
</style>
<a href={ "/" + link }><button class={kind}>{title}</button></a>